*{
    padding: 0;
    margin: 0;
    border: 0;
}

p{
    width:fit-content;
    margin: 0 auto;
    padding: 0.5em 1em;
}

.text-container{
    width: fit-content;
    margin: 0 auto;
}

textarea{

    margin: 0 auto;
}

#buttons{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    margin: auto;
    
}
button{
    background: transparent;
    border:none;
    padding: 0 10em;
    margin: 0 3em;
}

